.login-container{
    text-align: center;
}

.login-container h2 {
    margin-top: 30px;
    margin-bottom: 70px;
}

.login-email, .login-password {
    display: block;
    margin: 40px auto;
    border-radius: 20px;
    height: 25px;
    width: 200px;
    padding-left: 15px;
    box-shadow: -1px 5px 10px gray;
}

.login-btn {
    background-color: transparent;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    margin-top: 45px;
    margin-bottom: 20px;
}

.login-p{
    display: block;
    background-color: transparent;
    border: none;
    margin: 0 auto;
    text-decoration: underline;
    color: black;
}