body{
    margin: 0 auto;
}

.header {
    display: block;
    background-color: green;
    height: 50px;
}

.header-title {
    text-align: center;
    margin: 0 auto;
    color: white;
    height: 50px;
    padding-top: 5px;
}